<template>
    <div class="home">
      <CvComponent/>
    </div>
  </template>
  
  <script>
  // @ is an alias to /src
  import CvComponent from '@/components/CvComponent.vue';
  
  export default {
    name: 'CvView',
    components: {
    CvComponent
}
  }
  </script>
  